.a-popover-content {
  display: inline-block;
}
.a-popover {
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.2;
  min-width: 10px;
  word-wrap: break-word;
  left: 0;
  top: 0;
  color: #fff;
  z-index: 1000;
  display: inline-block;
  border-radius: 8px;
  font-weight: 500;
  border: 1px solid #e4e7ed;
  transition: transform 0.15s ease-in-out;
  min-width: 150px;
  .a-popover-inner-content {
   
    .title {
      color: #303133;
      font-size: 16px;
      line-height: 1;
      margin-bottom: 12px;
    }
    .content {
      color: #606266;
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

.a-popover-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
}

/* 动画 */
// .popover-enter-from,
// .popover-leave-to {
//   opacity: 0;
//   transition: opacity 0.4s ease;
// }
// .popover-leave-from,
// .popover-enter-to {
//   transition: opacity 0.3s ease;
// }
