
.selector-menu {
  width: 100%;
  border-radius: 5px;
  overflow: auto;
  user-select: none;
  max-height: 215px;
  background-color: var(--a-bg-color);
  box-shadow: var(--a-box-shadow);

  
  .menu-item {
    font-size: 13px;
    padding: 9px 10px;
    display: flex;
    align-items: center;
    cursor: pointer !important;
    transition: background-color 0.2s;
    .label {
      flex-grow: 1;
    }
  }
  .menu-item:hover {
    background-color: var(--a-bg-hover-color);
  }
  .menu-checked {
    color:var(--a-primary-color);
    font-weight: 550;
    background-color: var(--a-bg-color);
  }
}

