.y-menu-content {
  position: fixed;
  border-right: 1px solid #dcdfe6;
  width: 100%;
  padding: 5px;
  height: 100vh;
  width: 210px;
}

.y-menu-content::-webkit-scrollbar {
  width: 4px;
}
.y-menu-content::-webkit-scrollbar-corner, /* 滚动条角落 */
  .y-menu-content::-webkit-scrollbar-thumb,
  .y-menu-content::-webkit-scrollbar-track {
  border-radius: 5px;
}
.y-menu-content::-webkit-scrollbar-corner,
.y-menu-content::-webkit-scrollbar-track {
  /* 滚动条轨道 */
  background-color: none;
}
.y-menu-content::-webkit-scrollbar-thumb {
  /* 滚动条手柄 */
  background-color: #93939399;
}

.select-month::-webkit-scrollbar {
  width: 4px;
}
