.y-date-menu {
  position: absolute;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
  padding: 12px;
  user-select: none;
  width: 302px;
  background-color: #ffff;
  top: 35px;
  &-head {
    display: flex;
    justify-content: center;
    padding: 0 5px;
    padding-bottom: 30px;
    span:hover{
      color: #066ace;
      cursor: pointer;
    }
    .head-left{
      display: flex;
      align-items: center;
      span{
        font-size: 13px;
      }
      .two{
        margin-right: 10px;
      }
    }
    .head-center{
      flex: 1;
      text-align: center;
      font-size: 16px;
      color:#606266;
      .year{
        margin-right: 10px;
      }
    }
    .head-right{
       display: flex;
      align-items: center;
       span{
        font-size: 12px;
      }
      .one{
        margin-right: 10px;
      }
    }
  }
  &-body {
  }
}
