:root {
  --hljs-bg: var(--amu-bg-code);
  --hljs-color: #383a42;
  --hljs-comment: #a0a1a7;
  --hljs-keyword: #a626a4;
  --hljs-name: #e45649;
  --hljs-literal: #0184bb;
  --hljs-string: #50a14f;
  --hljs-attr: #986801;
  --hljs-symbol: #4078f2;
  --hljs-built-in: #c18401;
}

html.dark {
  --hljs-bg: var(--amu-bg-code);
  --hljs-color: #abb2bf;
  --hljs-comment: #5c6370;
  --hljs-keyword: #c678dd;
  --hljs-name: #e06c75;
  --hljs-literal: #56b6c2;
  --hljs-string: #98c379;
  --hljs-attr: #d19a66;
  --hljs-symbol: #61aeee;
  --hljs-built-in: #e6c07b;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  color: var(--hljs-color);
  background: var(--hljs-bg);
}

.hljs-comment,
.hljs-quote {
  color: var(--hljs-comment);
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: var(--hljs-keyword);
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: var(--hljs-name);
}

.hljs-literal {
  color: var(--hljs-literal);
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: var(--hljs-string);
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: var(--hljs-attr);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: var(--hljs-symbol);
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: var(--hljs-built-in);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
