@import "../../assets/style/_variables.less";
button {
  position: relative;
  user-select: none;
  outline: 0;
  border-radius: 3px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: @text-color-white;
  margin-right: 12px;
}


button:hover{
   opacity: 0.7;
}

button:active {
  opacity: 0.9;
}



.button-default {
  color: @text-color-black;
  background: #fff;
  border: 1px solid #c0c4ccbd;
}

.button-default:active{
    border: 1px solid @primary;
    background-color:#0066ff25;
    color: @primary;
}

.y-button-disabled {
  color: #0000003e;
  border-color: #d9d9d9;
  background: #eeeeee;
  text-shadow: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.31);
  cursor: not-allowed;
}

.button-primary {
  border: 1px solid @primary;
  background-color: @primary;
  color: #ffff;
}

.button-success {
  border: 1px solid @success;
  background-color: @success;
  color: #fff;
}

.button-warning {
  border: 1px solid @warning;
  background-color: @warning;
  color: #fff;
}

.button-danger {
   border: 1px solid @danger;
   background-color: @danger;
  color: #ffff;
 
}

.button-info {
  border: 1px solid @info;
  background-color: @info;
  color: #fff;
}



.size-small {
  padding: 5px 11px;
  font-size: 12px;
}

.size-default {
  padding: 8px 15px;
  font-size: 14px;
}

.size-large {
  padding: 12px 19px;
  font-size: 14px;
}
