:root {
  --docsearch-modal-background: #fafafa;
  --vp-layout-max-width: 1700px;
  --vp-c-bg: var(--a-bg-color);
  --vp-c-brand: var(--a-primary-color);
  --vp-c-brand-1: var(--a-primary-color);
  --vp-c-brand-light: #066ace;
  --vp-c-brand-dark: #066ace;
  --vp-c-white-soft: #fff;
  --vp-button-brand-border: #066ace;
  --vp-button-brand-hover-border: #066ace;
  --vp-button-brand-active-border: #074f96;
  --vp-button-brand-active-bg: #030304;
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #e84bd3 50%,
    #7bc6e4 50%
  );
  --vp-home-hero-image-filter: blur(72px);
}

:root.dark {
  --docsearch-modal-background: #242424;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px !important;
}
::-webkit-scrollbar-corner, /* 滚动条角落 */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
  margin-top: 10px;
  width: 5px !important;
}

::-webkit-scrollbar-thumb {
  /* 滚动条手柄 */
  width: 5px !important;
  background-color: transparent;
}
body {
  overflow-x: hidden;
  line-height: normal;
}
p {
  font-size: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--a-border-color);
}

// .VPContent {
//   padding-right: 0 !important;
//   padding-left: 287.6px !important;
// }

@media (min-width: 1960px) {
  .VPContent.has-sidebar {
    margin: var(--vp-layout-top-height, 0px) 0 0;
    padding-left: 0 !important;
  }
}
@media (min-width: 1440px) {
  .VPContent.has-sidebar {
    padding-right: 0 !important;
    padding-left: 287.6px !important;
  }
}

.VPHero {
  margin-top: 0 !important;
  transform: scale(1.15);
}

.VPFeatures {
  margin-top: 20px;
  transform: scale(1.15);
}

// .VPPluginSearch-modal-back {
//   z-index: 99999 !important;
//   background-color: #03030476;
//   .VPPluginSearch-modal {
//     padding: 10px 20px;

//     .DocSearch-Form {
//       input {
//         border: 1px solid var(--a-border-color);
//         transition: background-color 0.2s, color 0.2s, border-color 0.2s;
//         outline: medium;
//         border-radius: 5px;
//         outline: invert;
//         outline-color: var(--a-primary-color) !important;
//         background-color: var(--a-bg-color);
//         color: var(--a-text-color);
//         height: 50px;
//       }
//       input:focus {
//         border: 1px solid var(--a-primary-color) !important;
//       }
//       .VPPluginSearch-flex-logo {
//         display: none;
//       }
//       .DocSearch-MagnifierLabel {
//         transform: scale(1.5);
//       }
//     }
//     .VPPluginSearch-search-item-icon {
//       display: none;
//     }
//   }
//   .VPPluginSearch-search-list {
//     .search-group {
//       a.link-focused .VPPluginSearch-search-item{
//         background-color: var(--a-primary-color);
//         color: var(--a-text-color-white);
//       }
//       .VPPluginSearch-search-item {
//         color: var(--a-text-color);
//         border: 1px solid var(--a-border-color);
//         margin-bottom: 10px;

//         .VPPluginSearch-search-item-icon {
//           display: none;
//         }
//       }
//     }
//   }
//   .VPPluginSearch-flex-logo {
//     display: none;
//   }
// }
.VPLocalSearchBox {
  z-index: 99999 !important;
  .shell {
    background-color: var(--docsearch-modal-background) !important;
    width: 600px !important;
    padding: 15px !important;
    .search-bar {
      height: 50px !important;
      min-height: 50px !important;
      border: 2px solid var(--a-primary-color) !important;
      input {
        border: none;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s;
        border: 1px solid transparent !important;
        outline: medium;
        border-radius: 5px;
        outline: none;
        outline-color: transparent !important;
        color: var(--a-text-color);
      }
      input:focus {
        border: 1px solid transparent !important;
        outline: none;
      }
    }

    ul {
      li {
        border-radius: 5px;
        background-color: var(--a-bg-color);
        border: 1px solid var(--a-border-weak-color) !important;
        .result {
          height: 56px;
          border: none;
          .title mark,
          .excerpt mark {
            background-color: transparent;
            color: var(--a-primary-color);
          }
        }
        .result.selected {
          background-color: var(--a-primary-color);
          color: var(--a-text-color);
          .titles,
          .result.selected .title-icon {
            color: var(--a-text-color-white) !important;
          }
          .title mark,
          .excerpt mark {
            background-color: transparent;
            color: var(--a-text-color-white) !important;
          }
        }
      }
    }
  }
}
.VPNav {
  z-index: 1000 !important;
  border-bottom: 1px solid var(--a-border-weak-color) !important;

  .VPNavBar {
    padding: 0;
    .container {
      max-width: none !important;
      .title {
        padding-left: 35px;
        width: 120px !important;
        .VPNavBarTitle {
          width: 120px !important;
          a {
            width: 120px;
            border-bottom: none;
          }
          a:hover {
            opacity: 1 !important;
          }
          img {
            pointer-events: none;
            transform: scale(5);
            z-index: 10 !important;
          }
          img:hover {
            opacity: 0.5;
          }
        }
      }
      .content {
        padding-left: 0;
        padding-right: 5%;
        .content-body {
          background-color: transparent;
          background-image: radial-gradient(
            transparent 1px,
            var(--a-bg-color) 1px
          );
          background-size: 4px 4px;
          backdrop-filter: saturate(50%) blur(4px);
          -webkit-backdrop-filter: saturate(50%) blur(4px);
          @media (min-width: 768px) {
            .VPNavBarSearch {
              flex-grow: inherit;
            }
          }
        }
        .curtain::before {
          height: min-content;
        }
        .VPNavBarSearch {
          margin-right: 20px;
          .DocSearch {
            justify-content: flex-start;
            border: 1px solid transparent;
            border-radius: 8px;
            padding: 0 10px 0 12px;
            width: 200px;
            height: 40px;

            background-color: var(--a-bg-hover-color) !important;
            transition: border-color 0.2s;
            .DocSearch-Button-Placeholder {
              color: var(--a-text-color);
            }
          }
          .DocSearch:hover {
            border-color: var(--a-primary-color);
          }
          .DocSearch-Button-Keys {
            border: 1px solid var(--a-border-color);
            border-radius: 5px;
          }
        }
      }
    }
  }
  .divider {
    display: none;
  }
}

.VPSidebar {
  z-index: 999 !important;
  padding-left: 30px !important;
  width: max-content !important;
  margin-top: 15px;
  padding-top: 0;
  border-right: 1px solid var(--a-border-weak-color) !important;
  background-color: var(--vp-c-bg) !important;
  .curtain {
    background-color: var(--vp-c-bg) !important;
  }
  .nav {
    .group {
      border-top: none;
      .VPSidebarItem {
        padding-bottom: 0;
      }
      .title {
        margin-bottom: 10px;
        title .title-text {
          font-weight: 700;
          font-size: 1.1rem;
        }
      }
      .items {
        .text {
          color: var(--a-text-color);
        }
        margin-top: 10px;
        .VPLink {
          padding: 8px 16px !important;
          margin: 0;

          .link-text:hover {
            font-weight: 500;
          }
        }
        .is-active {
          transition: background-color 0.25s ease;
          background-color: var(--a-bg-hover-color);
          border-radius: 5px;
          font-weight: 899;
          .text {
            font-weight: 800;
          }
        }
      }
    }
  }
}

.VPSidebar:hover::-webkit-scrollbar-thumb {
  background-color: var(--a-border-color);
}

.VPContent {
  .VPDoc {
    padding-left: none !important;
    padding-right: none !important;
    .container {
      .content {
        .content-container {
          max-width: 100%;
          .VPDocFooter {
            border: none;
            margin-top: 0 !important;
            .prev-next {
              border-top: none;
            }
          }
        }
      }
    }

    .aside {
      .content {
        border-left: 4px solid var(--a-border-weak-color);
        .outline-title {
          font-size: 15px;
        }
        .outline-marker {
          width: 4px;
          left: -4px;
        }
        .outline-link {
          font-size: 15px;
        }
        .outline-link.active {
          color: var(--a-primary-color);
        }
      }
    }
  }
}

details {
  summary {
    text-align: right;
    user-select: none;
    font-size: 13px !important;
  }
}

details > summary:first-of-type {
  font-size: 10px;
  padding: 8px 0;
  cursor: pointer;
  color: var(--a-primary-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--a-border-weak-color);
  border-top: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  thead,
  tbody {
    display: flex;
    flex-direction: column;
    tr {
      width: 100%;
      display: flex;
      th,
      td {
        border: none !important;
        flex: 1;
        padding: 15px !important;
      }
    }
    tr:nth-child(2n) {
      background-color: transparent !important;
    }
  }
}
.example {
  border: 1px solid var(--a-border-weak-color);
  border-radius: 5px;
  padding: 20px;
  .radio-main input[type="radio"] + label::after {
    left: 4.5px;
    top: 50%;
  }
  table {
    display: block;
    th{
      width: 100vw;
    }
    td{
      
    }
    tr {
    
    
   
   
   
    }
  }
  .subtract-button{
    height: 29.5px;
  }
  .add-button{
     height: 29.5px;
  }
}

.a-popover{
  table {
    border: none;
    border-top: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    thead,
    tbody {
      display: flex;
      flex-direction: column;
      tr {
        width: 100%;
        display: flex;
        th,
        td {
          border: none !important;
          flex: 1;
          padding: 0 !important;
        }
      }
      tr:nth-child(2n) {
        background-color: transparent !important;
      }
    }
  }
}

#基础用法 {
  border: none;
  padding-top: 0;
  margin-top: 30px;
}
.prev-next[data-v-e0c6bdab] {
  border-top: none;
  padding-top: 0;
}
