body {
  overflow: overlay;
  line-height: normal;
}
p {
  font-size: 15px;
}
.VPNav {
  border-bottom: 1px solid #cdced259;
  background-color: #ffffff00;
  .VPNavBarAppearance {
    display: none;
  }
  .VPNavBar {
    .container {
      .title{
        background-color: #ffff;
      }
      .content {
        .curtain::before {
          height: min-content;
        }
      }
    }
  }
  .VPNavBarTitle {
    a {
      border-bottom: none;
      img {
        height: 100px;
      }
    }
  }
}

.VPSidebar{
 
  overflow: hidden !important;
  margin-top: 15px;
  padding-top: 0;
  background: #fff !important;
  .curtain{
    background-color: #ffffff;
  }
  .nav {
    .group {
      .title {
        margin-bottom: 10px;
        title .title-text {
          font-weight: 700;
          font-size: 1.1rem;
        }
      }
      .items {
        margin-top: 10px;
        .VPLink {
          padding: 8px 16px !important;
          margin: 0;

          .link-text:hover {
            font-weight: 500;
          }
        }
        .is-active {
          transition: background-color 0.25s ease;
          background-color: #1570cb11;
          border-radius: 5px;
          font-weight: 899;
          .text {
            font-weight: 800;
          }
        }
        .item:hover {
          color: var(--vp-c-brand);
        }
      }
    }
  }
}
.VPSidebar:hover{
  overflow: overlay !important;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-corner, /* 滚动条角落 */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  /* 滚动条手柄 */
  background-color: rgba(200, 199, 199, 0.328);
}

:root {
  --vp-c-brand: #066ace;
  --vp-c-brand-light: #066ace;
  --vp-c-brand-dark: #066ace;
  --vp-c-white-soft: #fff;
  --vp-button-brand-border: #066ace;
  --vp-button-brand-hover-border: #066ace;
  --vp-button-brand-active-border: #074f96;
  --vp-button-brand-active-bg: #030304;
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #e84bd3 50%,
    #7bc6e4 50%
  );
  --vp-home-hero-image-filter: blur(72px);
}
button {
  line-height: normal;
}
details {
  summary {
    user-select: none;
  }
}


input:focus {
  outline: auto;
}

.prev-next[data-v-9ddd6854] {
  border-top: none;
}
h2 {
  border: none;
}

details > summary:first-of-type {
  font-size: 10px;
  padding: 8px 0;
  cursor: pointer;
  color: #1989fa;
}
.vp-doc li + li {
  margin-top: 0px !important;
}
.example {
  border: 1px solid #dcdfe6ba;
  border-radius: 5px;
  padding: 20px;
  .a-pagination-content .btn{
    padding: 0 12px;
    text-align: center;
  }
  .a-input-number-content{
    .subtract-button{
      height: 29.5px;
    }
    .add-button{
      height: 29.5px;
    }
  }

  h2 {
    margin: 0;
    margin-top: 30px;
  }
  th,
  td {
    border: none;
    background-color: #ffff;
  }
  table {
    margin: 0;
  }
  tr {
    border-top: none;
    transition: background-color 0.5s;
  }
  tr:nth-child(2n) {
    background-color: #ffff;
  }
  td {
    padding: 0;
  }
  th {
    font-size: 12px;
    padding: 0;
  }
  .radio-main input[type="radio"] + label::after {
    left: 4.5px;
    top: 50%;
  }
}

#基础用法 {
  border: none;
  padding-top: 0;
  margin-top: 30px;
}
.prev-next[data-v-e0c6bdab] {
  border-top: none;
  padding-top: 0;
}

.VPNavBarTitle[data-v-7b235247] {
  overflow: hidden;
  border-bottom: none;
}
.image-container[data-v-4c7fb2e3] img {
  margin-left: 20%;
}
