
.a-input-content {
  position: relative;
  display: flex;
  user-select: none;
  background-color: var(--a-bg-color);
  transition: background-color 0.2s, color 0.2s,border-color 0.2s;
  border-radius: 3px;
  .a-input-wrapper {
    transition: background-color 0.2s, color 0.2s,border-color 0.2s;
    border: 1px solid var(--border-color);
    background-color: var(--a-bg-color);
    border-radius: 3px;
    height: 100%;
    padding: 0 10px;
    user-select: none;
    input {
      transition: background-color 0.2s, color 0.2s,border-color 0.2s;
      outline: medium;
      border: none;
      border-radius: 2px;
      outline: invert;
      outline-color: var(--a-primary-color) !important;
      background-color: var(--a-bg-color);
      color: var(--a-text-color);
    }
    input::-webkit-input-placeholder {
      transition: background-color 0.2s, color 0.2s,border-color 0.2s;
      color: var(--a-text-color);
      font-size: 14px;
    }
    .placeholder {
      transition: background-color 0.2s, color 0.2s,border-color 0.2s;
      position: absolute;
      left: calc(10px);
      color: var(--a-text-color);
      font-size: 13px;
    }
    .iconfont {
      transition: background-color 0.2s, color 0.2s,border-color 0.2s;
      position: absolute;
      right: calc(10px);
      color: var(--a-text-color);
      pointer-events: none;
    }
  }
  .a-input-wrapper:hover {
    border: 1px solid var(--border-hover-color);
  }
  .a-input-wrapper:focus-within {
    border: 1px solid var(--border-focus-color);
  }
  .a-input-slot {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 9px;
    display: flex;
    align-items: center;
    color: var(--a-text-disable-color);
    span {  
      cursor: pointer;   
      pointer-events: painted;
    }
  }
}

.a-input-content::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px var(--border-focus-shadow);
  opacity: var(--input-focus-opacity);
  transition: 0.2s;
  pointer-events: none;
  width: calc(100% );
  height: calc(100% );
}
