
.a-message {
  position: fixed;
  z-index: 9999;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  transition: top 0.2s ease-out;
  user-select: none;
}

.a-message > .a-message-content {
  display: flex;
  align-items: center;
  padding: 11.5px 13px;
  pointer-events: all;
  background: var(--a-bg-color);
  width: max-content;
  max-width: 720px;
  color: var(--a-text-color);
  margin: auto;
  font-size: 14px;
  user-select: contain !important;
  border-radius: 3px;
  box-shadow: var(--a-box-shadow);
  .success {
    color: var(--a-success-color);
  }

  .warning {
    color: var(--a-warning-color);
  }

  .message {
    color: var(--a-primary-color);
  }

  .error {
    color:var(--a-error-color);
  }
}

.a-message-content:hover {
  user-select: text;
}

.a-message-fade-enter-from,
.a-message-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.a-message-fade-enter-active {
  transition: all 0.2s ease-in;
}

.a-message-fade-leave-active {
  transition: all 0.2s ease-out;
}