@import "../../iconfont/iconfont.css";
@import '../../assets/index.scss';
.y-tree-menu {
  user-select: none;
  padding-left: 20px;
  .y-tree-list {
    .y-tree-item {
      display: flex;
      align-items: center;
      height: 26px;
      padding: 0 5px;
      background-color: transparent;
      border: none;
      width: 100%;
      i {
        transition: all 0.2s ease-in-out;
        display: inline-block;
        font-size: 12px;
        color: $text-color-black;
      }
      span {
        color: $text-color-black;
        font-size: 14px;
        margin-top: -2.5px;
      }
      .caret-down {
        transform: rotate(90deg);
      }
    }
    .y-tree-item:hover{
      background-color: #ececec83;
    }
       
    .y-tree-item:active{
       background-color: #ececec83;
    }
    .y-tree-item:focus{
       background-color: #ececec83;
    }
  }
}
