.a-menu-content {
  border-right: 1px solid var(--a-border-color);
  width: 100%;
  padding: 5px;
  width: 210px;
  transition: background-color 0.2s,border-color 0.2s,color 0.2s;
}

::-webkit-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-corner, /* 滚动条角落 */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  /* 滚动条手柄 */
  background-color: transparent;
}
.a-menu-content:hover::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #97979692;
}



