.y-transition-fade-enter-from,
.y-transition-fade-leave-to {
  opacity: 0;
}

.y-transition-fade-enter-active {
  transition: opacity 0.15s ease-in;
}

.y-transition-fade-leave-active {
  transition: opacity 0.15s ease-out;
}
