@font-face {
  font-family: "iconfont"; /* Project id 3470517 */
  src: url('//at.alicdn.com/t/c/font_3470517_e0qrybyetd5.woff2?t=1663162165770') format('woff2'),
       url('//at.alicdn.com/t/c/font_3470517_e0qrybyetd5.woff?t=1663162165770') format('woff'),
       url('//at.alicdn.com/t/c/font_3470517_e0qrybyetd5.ttf?t=1663162165770') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e6dc";
}

.icon-left:before {
  content: "\e743";
}

.icon-right:before {
  content: "\e744";
}

.icon-close2:before {
  content: "\e6dd";
}

.icon-sousuo:before {
  content: "\e601";
}

.icon-xiangxia:before {
  content: "\e600";
}
