@font-face {
  font-family: "iconfont"; /* Project id 3470517 */
  src: url('//at.alicdn.com/t/c/font_3470517_mhhn9x23xqq.woff2?t=1662559396057') format('woff2'),
       url('//at.alicdn.com/t/c/font_3470517_mhhn9x23xqq.woff?t=1662559396057') format('woff'),
       url('//at.alicdn.com/t/c/font_3470517_mhhn9x23xqq.ttf?t=1662559396057') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close2:before {
  content: "\e6dd";
}

.icon-sousuo:before {
  content: "\e601";
}

.icon-xiangxia:before {
  content: "\e600";
}
