@font-face {
  font-family: "iconfont"; /* Project id 3470517 */
  src: url('iconfont.woff2?t=1659015834896') format('woff2'),
       url('iconfont.woff?t=1659015834896') format('woff'),
       url('iconfont.ttf?t=1659015834896') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close2:before {
  content: "\e6dd";
}

.icon-sousuo:before {
  content: "\e601";
}

.icon-xiangxia:before {
  content: "\e600";
}

