.a-input-number-content {
  position: relative;
  display: inline-block;
  .add-button {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    right: 0.75px;
    top: 0.8px;
    width: 32px;
    height: 32px;
    border-top-right-radius: 2px; /* 右上角圆角半径 */
    border-bottom-right-radius: 2px; /* 右下角圆角半径 */
    border-left: 1px solid var(--a-border-weak-color);
    background-color: var(--a-bg-grey-color);
    color: var(--a-text-color);
    font-size: 15px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  }
  .add-button:hover {
    color: var(--a-primary-color);
  }
  .subtract-button {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    left: 0.8px;
    top: 0.8px;
    width: 32px;
    height: 32px;
    border-top-left-radius: 2px; /* 右上角圆角半径 */
    border-bottom-left-radius: 2px; /* 右下角圆角半径 */
    border-right: 1px solid var(--a-border-weak-color);
    background-color: var(--a-bg-grey-color);
    color: var(--a-text-color);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  }
  .subtract-button:hover {
    color: var(--a-primary-color);
  }
}
