.a-date-menu {
  padding: 12px;
  user-select: none;
  width: 302px;
  background-color: var(--a-bg-color);
  top: 8px;
  left: -40px;
  &-head {
    display: flex;
    justify-content: center;
    padding: 0 5px;
    padding-bottom: 25px;
    span:hover {
      color: var(--a-primary-color);
      cursor: pointer;
    }
    .head-left {
      display: flex;
      align-items: center;
      span {
        font-size: 13px;
      }
      .two {
        margin-right: 10px;
      }
    }
    .head-center {
      position: relative !important;
      flex: 1;
      text-align: center;
      font-size: 16px;
      color: var(--a-text-color);
      .year-month {
        display: inline;
        border-radius: 3px;
        padding: 5px;
        cursor: pointer;
        transition: background 0.2s;
      }
      .year-month:hover {
        background-color: var(--a-bg-hover-color);
      }
    }
    .head-right {
      display: flex;
      align-items: center;
      span {
        font-size: 12px;
      }
      .one {
        margin-right: 10px;
      }
    }
  }
}
