.a-progress-content {
    width: 100%;
    display: flex;
    align-items: center;
    .a-progress-runway {
      position: relative;
      flex-grow: 1;
      min-height: 6px;
      background-color: #e4e7ed;
      border-radius: 3px;
      position: relative;
      .a-progress-bar {
        position: absolute;
        min-height: 6px;
        border-radius: 3px;
        border-bottom-left-radius: 3px;
        left: 0%;
        transition: width 0.2s ease;
      }
    }
    .a-percentage-text{
      margin-left: 10px;
      margin-top: -1px;
      min-width: 50px;
      span{
        font-size: 14.4px;
        color: #606266;
       
      }
    }
  }
  