@import '../../assets/style/_variables.less';
.y-checked-content {
  cursor: pointer;
  display: inline-flex;
  white-space: nowrap;
  user-select: none;
  margin-right: 16px;

  input {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  .label {
    margin-left: 3px;
    font-size: 14px;
    color: @text-color-black
  }
  .checked {
    color: @primary;
  }
}
