.y-checked-content {
  cursor: pointer;
  display: inline-flex;
  white-space: nowrap;
  user-select: none;
  margin-right: 16px;
  height: 32px;
  input {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  .label {
    margin-left: 3px;
    font-size: 14px;
    margin-top: 0.5px;
  }
  .checked {
    color: #2a6ef8;
  }
}
