VITE_DEV_PORT=5174
VITE_API_PROXY_TARGET=http://localhost:3000
# 留空时自动探测当前是否处于 monorepo workspace 中
VITE_USE_WORKSPACE_SOURCE=
VITE_APP_NAME=Amu Admin
VITE_APP_SHORT_NAME=AM
VITE_APP_TITLE=企业级后台管理系统模板
VITE_APP_DESCRIPTION=面向大型业务系统的前端基础底座，内置权限、路由、主题、标签页与请求链路最佳实践。
VITE_APP_COPYRIGHT=Copyright © 2026 Amu UI Team.
VITE_APP_REPOSITORY_URL=https://github.com/Amu-UI/amu-ui