@import "../../assets/index.scss";
@import "../../iconfont/iconfont.css";
.y-input-content {
  position: relative;
  display: flex;
  user-select: none;
  .y-input-wrapper {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    transition: border 0.2s ease;
    height: 100%;
    padding: 0 10px;
    user-select: none;
    input {
      outline: medium;
      border: none;
      border-radius: 2px;
      outline: invert;
      outline-color: $primary-color !important;
    }
    input::-webkit-input-placeholder {
      color: #a8abb2;

      font-size: 14px;
    }
    .placeholder {
      position: absolute;
      left: calc(10px);
      color: #c2c2c2;
      font-size: 13px;
    }
    .iconfont {
      position: absolute;
      right: calc(10px);
      color: #c2c2c2;
      pointer-events: none;
    }
  }
  .y-input-wrapper:hover {
    border: 1px solid var(--border-hover-color);
  }
  .y-input-wrapper:focus-within {
    border: 1px solid var(--border-focus-color);
  }
  .y-input-slot {
    pointer-events: none;
    position: absolute;
    top: 1px;
    right: 5px;
    display: flex;
    align-items: center;
    width: 22px;
    height: 30px;
    background-color: #ffff;
    span {
      align-items: center;
      cursor: pointer;
      color: #b8b8b8;
      pointer-events: painted;
      transition: transform 0.2s ease-in-out;
    }
  }
}
