@import "../../iconfont/iconfont.css";
.y-sub-menu-content {
  .y-sub-item {
    display: flex;
    cursor: pointer;
    padding: 0 18px;
    padding-right: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 48px;
    margin-bottom: 5px;
    color: #333639;
    font-size: 14px;
    .item-icon {
      display: flex;
    }
    .item-title {
      margin-left: 10px;
      flex-grow: 1;
    }
    .open {
      transform: rotate(270deg);
    }
    .close {
      transform: rotate(90deg);
    }
  }
  .y-sub-item:hover {
    background-color: #f3f3f5ce;
  }
  .y-sub-slot {
    transform-origin: center top; // 缩放中心设置在面板顶部
    transform: scaleY(1); // 面板收起
    transition: height 0.25s ease;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
  }
}
