.a-form-item-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 18px;
  label {
    color: #606266;
    font-size: 14px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 0 0 auto;
    height: 32px;
    line-height: 32px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    span{
      margin-top: -2px;
      color: #f56c6c;
    }
  }
  .a-form-item-slot {
     position: relative;
    flex: 1;
    .a-form-item-error{
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 2px;
    position: absolute;
    top: 100%;
    left: 0;
  }
  }
  
}
