@import "../../../iconfont/iconfont.less";
.a-pagination-content {
  display: inline-flex;
  align-items: center;
  user-select: none;
  .a-pagination-total {
    font-size: 14px;
    color: var(--a-text-color);
    margin-right: 12px;
  }
  .pagination-list {
    display: flex;
    cursor: pointer;
    .pagination-item {
      margin-left: 8px;
      color: var(--a-text-color);

    }
    .pagination-item:hover {
      color: var(--a-primary-color);
    }
    .current {
      color: var(--a-primary-color);
      border: 1px solid var(--a-primary-color);;
      border-radius: 6px;
      cursor: auto;
    }
    .background-current {
      color: var(--a-text-color-white);
      font-weight: 550;
      background-color: var(--a-primary-color) !important;
      cursor: auto;
      transition: background 0.1s ease-in;
    }
    .background-current:hover {
      color: var(--a-text-color-white);
      background-color: var(--a-primary-color) !important;
    }
  }
  .next {
    margin-left: 8px;
  }
  .a-pagination-goto {
    margin-left: 10px;
    display: flex;
    align-items: center;
    span {
      margin-right: 10px;
      font-size: 14px;
    }
  }
  .page-size-select {
    margin-left: 10px;
  }
  .btn {
    min-width: 24px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn:hover {
    span {
      color: var(--a-primary-color);
    }
  }
  .background {
    background-color: var(--a-bg-color);
    border: 1px solid var(--a-border-weak-color);
    background-color: var(--a-border-weak-color);
    border-radius: 4px;
  }
  .background:hover {
    background-color: var(--a-bg-hover-color) !important;
  }

  .disable {
    cursor: not-allowed;
    span {
      color: var(--a-text-disable-color);
    }
  }
  .disable:hover {
    span {
      color: var(--a-text-disable-color);
    }
  }
}
