
.a-menu-item {
  cursor: pointer;
  padding: 0 18px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 48px;
  margin-bottom: 5px;
  font-size: 14px;
  transition: color 0.2s, background-color 0.2s;
  .item-title {
    margin-left: 10px;
  }
}

.a-menu-item-light{
  color: var(--a-text-color);
}
.a-menu-item-light:hover {
  background-color: var(--a-bg-hover-color);
}

.active-light {
  background-color: var(--a-bg-color);
  color: var(--a-primary-color);
}
.active-light:hover {
  background-color: var(--a-bg-hover-color);
  color: var(--a-primary-color);
}

.a-menu-item-dark{
  color: #BBBBBB;
  background-color: #001428;
}
.a-menu-item-dark:hover {
   color:#ffff;
}

.active-dark {
  color:#FFFFFF;
  background-color: var(--a-bg-color);
}

