.a-dropdown {
  font-size: 14px !important;
  .split-button-content {
    display: flex;
    align-items: center;
    .left {
      margin-right: 0;
      button {
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .right {
      margin-left: -4.5px !important;
      padding: 9px;
      border-top-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-left: 1px solid;
      border-left-color: var(--a-border-color) !important;
    }
  }
}
