.a-dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px 16px;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  color: var(--a-text-color);
  transition: background-color 0.2s, color 0.2s;
}
.disable {
  color: var(--a-text-disable-color);
  cursor: not-allowed;
  user-select: none;
}
.disable:hover {
  color: var(--a-text-disable-color) !important;
  background-color: var(--a-bg-color) !important;
}
.a-dropdown-item:hover {
  color: var(--a-primary-color);
  background-color: var(--a-bg-hover-color);
}

.divided{
  margin: 6px 0;
  border-top: 1px solid var(--a-border-weak-color);
}
