

.a-table {
  position: relative;
  .table {
    table-layout: fixed;
    margin-bottom: 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-variant-numeric: tabular-nums;
    width: 100%;
    word-break: break-word;
    border-collapse: separate;
    border-spacing: 0;
    .a-table-thead{
      background-color: var(--a-bg-grey-color);
      .a-table-tr{
        box-sizing: border-box;
        background-clip: padding-box;
        transition: background-color 0.3s;
        background-color: var(--a-bg-grey-color);
        th{
          text-align: start;
          text-align: start;
          font-size: 14px;
          padding: 12px;
          position: relative;
          text-align: start;
          box-sizing: border-box;
          border-color: var(--a-border-weak-color);
          border-bottom: 1px solid var(--a-border-weak-color);
          color: var(--a-text-color);
          transition: border-color 0.3s, color 0.3s, background-color 0.3s;
          font-weight: 500;
          .a-table-th_title-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            max-width: 100%;
            .a-table-th__title {
              flex: 1;
              min-width: 0;
            }
          }
        }
        th.gutter {
          padding: 0;
        }
      }
    
    }
    
    .a-table-tbody {
      .a-table-tr {
        transition: background-color 0.3s;
        background-color: var(--a-bg-color);
        td {
          text-align: start;
          font-size: 14px;
          padding: 12px;
          position: relative;
          text-align: start;
          box-sizing: border-box;
          border-color: var(--a-border-weak-color);
          border-bottom: 1px solid var(--a-border-weak-color);
          color: var(--a-text-color);
          transition: border-color 0.3s, color 0.3s, background-color 0.3s;
        }
      }
      .a-table-tr:hover{
        background-color: var(--a-bg-hover-color) !important;
      }
    }
  }
}

.a-table--body-wrapper {
  overflow: auto;

}
