.a-breadcrumb-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  .title-href {
    color: #5f6165;
    cursor: pointer;
    transition: color 0.4s ease;
    font-weight: 700;
  }
  .title-href:hover {
    color: #0468dc;
  }
  .title {
    color: #606266;
  }
  .flag {
    margin: 0 7px;
    color: #a8abb2;
  }
}
