@import "../../iconfont/iconfont.css";
.y-rate-content{
    display:inline-flex;
    cursor: pointer;
    .y-rate-item{  
        margin-right: 10px;
        .icon-xingxing{
            font-size: 20px;
        }
        .icon-xingxing1{
            font-size: 20px;
            color: #cbced6 !important;
        }
    }
     .y-rate-item:last-child{
        margin-right: 0;
     }
}